<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Edit recipes</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container">
<h1>Edit this recipe</h1>
	<div>
		<div class="col-md-4">
		<form th:object="${question}" th:action="@{../save}" action="#" method="post">
		<input type="hidden" th:field="${question.questionId}" class="form-control"/>
		
		<label for="title">Title</label>
		<input type="text" id="name" th:field="${question.title}" class="form-control"/>
		<div style="clear: both; display: block; height: 10px"></div>
		
		<label for="ingre">Ingredients</label>
		<input type="text" id="ingre" th:field="${question.type}" class="form-control"/>
		<div style="clear: both; display: block; height: 10px"></div>
		
		<div style="clear: both; display: block; height: 10px"></div>
		<input type="submit" class="btn btn-primary" value="Save"/> 
		
		</form>
		</div>
	</div>
	</div>
</body>
</html>